
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Friend</title>

</head>
<body>
    <div class="container">
        <ul id="incomingChatMessages">
            <li>
                <div class="avatar"><img src="http://www.gravatar.com/avatar/1.png"></div>
                <div class="msgWrap me">
                    <div class="user">Presto</div>
                    <div class="msg">Hello Alexis</div>
                </div>
                <div class="time"><i class="glyphicon glyphicon-time"></i> about 21 min ago</div>
            </li>
            <li>
                <div class="avatar"><img src="http://www.gravatar.com/avatar/1.png"></div>
                <div class="msgWrap">
                    <div class="user">Alexis</div>
                    <div class="msg">Hey Presto, how are you?</div>
                </div>
                <div class="time"><i class="glyphicon glyphicon-time"></i> about 19 min ago</div>
            </li>
        </ul>
    </div>
</body>
</html>
