
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Friend</title>

    <!-- SignalR Script-->
    <script src="~/Scripts/jquery-1.6.4.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/SignalR/Hubs"></script>
    <!-- SignalR Script-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body style="margin: 20px;">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="chat-panel panel panel-default">
            <div class="panel-heading">
                @Html.TextBox("txtUsername", null, new { @class = "form-control input-sm", @style = "", @placeholder = "Your Name" })
            </div>

            <div class="panel-body">
                <ul class="chat" id="messages"></ul>
            </div>

            <div class="panel-footer">
                <div class="input-group">
                    @Html.TextBox("txtMessage", null, new { @class = "form-control input-sm", @style = "", @placeholder = "Your Message..." })
                    <span class="input-group-btn">
                        <button class="btn btn-warning btn-sm" id="btnSendMessage">
                            Send
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</body>
</html>
