
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Friend</title>

    <!-- SignalR Script-->
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/SignalR/Hubs"></script>
    <!-- SignalR Script-->

    <!-- CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/sb-admin-2.css" rel="stylesheet" />
    <style type="text/css">
        img {
            width: 50px;
            height: 50px;
        }
    </style>
    <!-- CSS -->

    <script>
    $(document).ready(function (e) {
        $(function () {
            var chat = $.connection.chatHub;
            var $username = $('#txtUsername');
            var $message = $('#txtMessage');
            var $messages = $('#messages');

            $message.focus();

            chat.client.sendMessage = function (name, message) {
                // DateTime.Now
                var currentdate = new Date();
                var datetime = +currentdate.getDate() + "/"
                    + (currentdate.getMonth() + 1) + "/"
                    + currentdate.getFullYear() + " - "
                    + currentdate.getHours() + ":"
                    + currentdate.getMinutes() + ":"
                    + currentdate.getSeconds();

                $messages.append('<li class="left clearfix"><span class="chat-img pull-left"><img src="http://www.gravatar.com/avatar/1.png" alt="User Avatar" class="img-circle" /></span> <div class="chat-body clearfix"> <div class="header"><strong class="primary-font">' + name + '</strong><small class="pull-right text-muted"><i class="fa fa-clock-o fa-fw"></i> ' + datetime + '</small></div>' + '<p>' + message + '</p> </div> </li>');
            };

            $.connection.hub.start().done(function () {
                $('#btnSendMessage').click(function () {
                    chat.server.send($username.val(), $message.val());
                    $message.val('').focus();
                });
            });
        });
    });
    </script>

</head>
<body style="margin: 20px;">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="chat-panel panel panel-default">
            <div class="panel-heading">
                @Html.TextBox("txtUsername", null, new { @class = "form-control input-sm", @style = "", @placeholder = "Your Name" })
            </div>

            <div class="panel-body">
                <ul class="chat" id="messages"></ul>
            </div>

            <div class="panel-footer">
                <div class="input-group">
                    @Html.TextBox("txtMessage", null, new { @class = "form-control input-sm", @style = "", @placeholder = "Your Message..." })
                    <span class="input-group-btn">
                        <button class="btn btn-warning btn-sm" id="btnSendMessage">
                            Send
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</body>
</html>
